<ion-view title="Global AQI" id="page4">
    <ion-content padding="true" class="has-header">
        <h3 id="globalAQI-heading1" style="color:#000000;">Air Quality Index</h3>
        <div class="spacer" style="width: 277.333px; height: 15px;"></div>
        <div id="globalAQI-markdown1" style="color:#000000;">
            <p>0 - 50 Good</p>
        </div>
        <div id="globalAQI-markdown2" style="color:#000000;">
            <p>51 - 100 Moderate</p>
        </div>
        <div id="globalAQI-markdown3" style="color:#000000;">
            <p>101- 150 Unhealthy for Sensitive</p>
        </div>
        <div id="globalAQI-markdown4" style="color:#000000;">
            <p>151- 250 Unhealthy</p>
        </div>
        <div id="globalAQI-markdown5" style="color:#000000;">
            <p>300+ Hazardous</p>
        </div>
        <div class="spacer" style="width: 277.333px; height: 27px;"></div>
        <div>
            <p>
                Tetovo, Macedonia
                <b>99.24</b>

            </p>
        </div>
        <div>
            <p>
                Cairo, Egypt
                <b>99.10</b>

            </p>
        </div>
        <div>
            <p>
                Kathmandu, Nepal
                <b>96.66</b>
            </p>
        </div>
        <div>
            <p>
                Accra, Ghana
                <b>96.18</b>
            </p>
        </div>
        <div>
            <p>
                Manila, Philippines
                <b>96.08</b>

            </p>
        </div>
        <div>
            <p>
                Noida, India
                <b>95.55</b>

            </p>
        </div>
        <div>
            <p>
                Guangzhou, China
                <b>94.66</b>

            </p>
        </div>
    </ion-content>
</ion-view>