<ion-view title="Temperature Data" id="page5">
    <ion-content padding="true" class="has-header">
        <div class="button-bar"></div>
        <div class="button-bar">
            <button id="temperatureData-button16" class="button button-balanced  button-block">Year</button>
            <button id="temperatureData-button17" class="button button-balanced  button-block">Annual Mean</button>
        </div>
        <div class="button-bar">
            <button id="temperatureData-button19" class="button button-stable  button-block button-outline">2015</button>
            <button id="temperatureData-button20" class="button button-stable  button-block button-outline">0.87</button>
        </div>
        <div class="button-bar">
            <button id="temperatureData-button22" class="button button-stable  button-block button-outline">2014</button>
            <button id="temperatureData-button23" class="button button-stable  button-block button-outline">0.74</button>
        </div>
        <div class="button-bar">
            <button id="temperatureData-button24" class="button button-stable  button-block button-outline">2013</button>
            <button id="temperatureData-button25" class="button button-stable  button-block button-outline">0.65</button>
        </div>
        <div class="button-bar">
            <button id="temperatureData-button26" class="button button-stable  button-block button-outline">2012</button>
            <button id="temperatureData-button27" class="button button-stable  button-block button-outline">0.63</button>
        </div>
        <div class="button-bar">
            <button id="temperatureData-button28" class="button button-stable  button-block button-outline">2011</button>
            <button id="temperatureData-button29" class="button button-stable  button-block button-outline">0.60</button>
        </div>
        <div class="button-bar">
            <button id="temperatureData-button30" class="button button-stable  button-block button-outline">2010</button>
            <button id="temperatureData-button31" class="button button-stable  button-block button-outline">0.53</button>
        </div>
        <div class="button-bar">
            <button id="temperatureData-button10" class="button button-stable  button-block button-outline">2009</button>
            <button id="temperatureData-button11" class="button button-stable  button-block button-outline">0.63</button>
        </div>
        <div class="button-bar">
            <button id="temperatureData-button12" class="button button-stable  button-block button-outline">2008</button>
            <button id="temperatureData-button13" class="button button-stable  button-block button-outline">0.62</button>
        </div>
    </ion-content>
</ion-view>